---
import LinkedInIcon from "@icons/LinkedInIcon.astro";
import FacebookIcon from "@icons/FacebookIcon.astro";
import TwitterIcon from "@icons/TwitterIcon.astro";
---

<footer class="w-screen">
  <div
    class="w-full px-5 py-12 bg-dark lg:rounded-t-[50px] md:px-[60px] md:mx-auto md:py-14"
  >
    <div class="flex flex-col gap-9 justify-between items-center mb-9 md:mb-16">
      <img src="/logo-white.webp" alt="" class="max-h-7" />
      <nav class="flex flex-col gap-4 items-center">
        <a
          href="#about-us"
          class="text-white lg:border-b hover:text-primary hover:border-b-primary transition"
          >About us</a
        >
        <a
          href="#"
          class="text-white lg:border-b hover:text-primary hover:border-b-primary transition"
          >Services</a
        >
        <a
          href="#"
          class="text-white lg:border-b hover:text-primary hover:border-b-primary transition"
          >Use Cases</a
        >
        <a
          href="#"
          class="text-white lg:border-b hover:text-primary hover:border-b-primary transition"
          >Pricing</a
        >
        <a
          href="#"
          class="hidden text-white lg:border-b hover:text-primary hover:border-b-primary transition"
          >Blog</a
        >
      </nav>
      <div class="hidden gap-5 items-center text-white md:flex">
        <a href="" class="w-[30px] hover:text-primary">
          <LinkedInIcon />
        </a>
        <a href="" class="w-[30px] hover:text-primary">
          <FacebookIcon />
        </a>
        <a href="" class="w-[30px] hover:text-primary">
          <TwitterIcon />
        </a>
      </div>
    </div>
    <div class="flex flex-col text-center lg:justify-between mb-12">
      <div class="mb-10 md:max-w-[330px]">
        <h4
          class="inline-block rounded-lg font-semibold text-lg text-dark bg-primary px-2 mb-7"
        >
          Contact us:
        </h4>
        <div class="flex flex-col gap-5 text-white">
          <span>Email: info@positivus.com</span>
          <span>Phone: 555-567-8901</span>

          <span>Address: 1234 Main St Moonstone City, Stardust State 12345</span
          >
        </div>
      </div>
      <form
        action="post"
        class="flex flex-col gap-5 p-6 mb-9 md:px-10 md:py-14 bg-gray rounded-xl"
      >
        <input
          type="text"
          placeholder="Email"
          required
          class="text-sm px-4 py-4 md:px-8 md:py-4 bg-transparent border border-white rounded-xl text-white placeholder:text-white outline-none md:text-base"
        />
        <button
          type="submit"
          class="text-base px-4 py-4 md:px-8 md:py-4 bg-primary rounded-xl text-lg"
        >
          Subscribe to news
        </button>
      </form>
      <div class="flex justify-center gap-5 items-center text-white">
        <a href="" class="w-[30px] hover:text-primary">
          <LinkedInIcon />
        </a>
        <a href="" class="w-[30px] hover:text-primary">
          <FacebookIcon />
        </a>
        <a href="" class="w-[30px] hover:text-primary">
          <TwitterIcon />
        </a>
      </div>
    </div>
    <hr class="w-full text-white mb-9 md:mb-12" />
    <div class="flex flex-col gap-4 text-center text-white">
      <span class="text-sm md:mr-10 md:text-base"
        >© 2023 Positivus. All Rights Reserved.</span
      >
      <a
        href=""
        class="text-sm hover:text-primary hover:border-b-primary transition md:text-base md:border-b"
        >Privacy Policy</a
      >
    </div>
  </div>
</footer>
