<header class="w-screen py-10 hidden md:block">
  <div class="w-[85vw] mx-auto flex items-center justify-between">
    <img src="/public/logo.webp" alt="" class="h-14 w-auto" />
    <nav class="text-lg flex gap-10 items-center">
      <a href="#about-us" class="hover:bg-primary transition duration-200"
        >About us</a
      >
      <a href="#" class="hover:bg-primary transition duration-200">Services</a>
      <a href="#" class="hover:bg-primary transition duration-200">Use Cases</a>
      <a href="#" class="hover:bg-primary transition duration-200">Pricing</a>
      <a href="#" class="hover:bg-primary transition duration-200">Blog</a>
      <a
        href="#"
        class="px-8 py-4 border border-black rounded-xl hover:bg-primary transition duration-200"
        >Request a quote</a
      >
    </nav>
  </div>
</header>
