---
import SectionContainer from "@containers/SectionContainer.astro";

const brandsLogos: { name: string; src: string }[] = [
  { name: "amazon", src: "/brands_logos/amazon-logo.webp" },
  { name: "dribbble", src: "/brands_logos/dribbble-logo.webp" },
  { name: "hubspot", src: "/brands_logos/hubspot-logo.webp" },
  { name: "notion", src: "/brands_logos/notion-logo.webp" },
  { name: "netflix", src: "/brands_logos/netflix-logo.webp" },
  { name: "zoom", src: "/brands_logos/zoom-logo.webp" },
];
---

<SectionContainer
  class="h-screen mb-[70px] flex justify-center items-center lg:justify-between mt-20 md:mt-[150px] lg:mt-0 md:h-auto lg:h-screen"
>
  <div class="flex flex-col max-w-[530px]">
    <h1
      class="text-4xl font-bold max-w-[13ch] leading-[1.25] text-pretty mb-3 md:text-5xl xl:text-6xl md:mb-9"
    >
      Navigating the digital landscape for success
    </h1>
    <img
      class="mb-5 lg:hidden md:w-[90%]"
      src="/img-hero-mobile.webp"
      alt="Hero ilustration for mobile"
    />
    <p class="text-sm md:text-xl mb-9">
      Our digital marketing agency helps businesses grow and succeed online
      through a range of services including SEO, PPC, social media marketing,
      and content creation.
    </p>
    <div class="">
      <button
        class="w-full text-lg md:text-xl px-8 py-4 bg-dark text-white rounded-xl md:hover:text-dark md:hover:bg-primary"
        >Book a consultation</button
      >
    </div>
  </div>

  <img
    src="/img-hero.webp"
    alt=""
    class="hidden lg:block lg:w-[450px] xl:w-[600px]"
  />
</SectionContainer>

<div class="w-[85vw] mx-auto overflow-hidden slider my-14 md:mb-36">
  <div class="carousel flex flex-nowrap gap-10 md:gap-20">
    {
      brandsLogos.map((logo) => (
        <img src={logo.src} alt="" class="w-32 h-auto filter grayscale" />
      ))
    }
    {
      brandsLogos.map((logo) => (
        <img src={logo.src} alt="" class="w-32 h-auto filter grayscale" />
      ))
    }
  </div>
</div>

<style>
  .slider {
    mask-image: linear-gradient(
      to right,
      transparent,
      #000 20% 80%,
      transparent
    );
  }
  .carousel {
    animation: slide 10s linear infinite;
  }

  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% / 2));
    }
  }
</style>
