---
interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props;
---

<div class="mb-10 text-center md:flex md:gap-8 md:items-center">
  <h2
    class="inline text-4xl bg-primary font-semibold px-[7px] rounded-lg md:text-4xl md:mb-0"
  >
    {title}
  </h2>
  <p class="text-sm text-pretty md:text-base md:max-w-[520px] mt-8">
    {description}
  </p>
</div>
