---
interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props;
---

<div class="mb-10 md:flex md:gap-10">
  <h2
    class="inline-block text-4xl mb-8 bg-primary font-semibold px-[7px] rounded-lg md:text-5xl"
  >
    {title}
  </h2>
  <p class="text-sm text-pretty md:text-base md:max-w-[520px]">
    {description}
  </p>
</div>
