---
import SectionContainer from "@Components/SectionContainer.astro";
import SectionTitle from "@Components/SectionTitle.astro";
import ArrowIcon from "@Icons/ArrowIcon.astro";
---

<SectionContainer>
  <SectionTitle
    title="Case Studies"
    description="Explore Real-Life Examples of Our Proven Digital Marketing Success through Our Case Studies"
  />
  <div class="">
    <div class="">
      <p>
        For a local restaurant, we implemented a targeted PPC campaign that
        resulted in a 50% increase in website traffic and a 25% increase in
        sales.
      </p>
      <a href="">
        Learn more
        <ArrowIcon class="h-8" />
      </a>
    </div>
  </div>
</SectionContainer>
