---
import SectionContainer from "@containers/SectionContainer.astro";
import SectionTitle from "@components/SectionTitle.astro";
import UseCaseCard from "@components/UseCaseCard.astro";

const useCases = [
  {
    description:
      "For a local restaurant, we implemented a targeted PPC campaign that resulted in a 50% increase in website traffic and a 25% increase in sales.",
  },
  {
    description:
      "For a B2B software company, we developed an SEO strategy that resulted in a first page ranking for key keywords and a 200% increase in organic traffic.",
  },
  {
    description:
      "For a national retail chain, we created a social media marketing campaign that increased followers by 25% and generated a 20% increase in online sales.",
  },
];
---

<SectionContainer
  class="text-center md:flex md:flex-col md:gap-10 md:text-start overflow-hidden"
>
  <SectionTitle
    title="Case Studies"
    description="Explore Real-Life Examples of Our Proven Digital Marketing Success through Our Case Studies"
  />
  <div class="carousel-container relative overflow-hidden">
    <div
      class="flex gap-5 overflow-x-auto whitespace-nowrap scroll-snap-x mandatory scrollbar-hide"
    >
      {
        useCases.map((useCase) => (
          <UseCaseCard description={useCase.description} />
        ))
      }
    </div>
  </div>
</SectionContainer>
