---
import SectionContainer from "@containers/SectionContainer.astro";
import SectionTitle from "@components/SectionTitle.astro";
import PlusIcon from "@icons/PlusIcon.astro";
import MinusIcon from "@icons/MinusIcon.astro";

const processes = [
  {
    number: "01",
    title: "Consultation",
    description:
      "During the initial consultation, we will discuss your business goals and objectives, target audience, and current marketing efforts. This will allow us to understand your needs and tailor our services to best fit your requirements.",
  },
  {
    number: "02",
    title: "Research and Strategy Development",
    description:
      "During the initial consultation, we will discuss your business goals and objectives, target audience, and current marketing efforts. This will allow us to understand your needs and tailor our services to best fit your requirements.",
  },
  {
    number: "03",
    title: "Implementation",
    description:
      "During the initial consultation, we will discuss your business goals and objectives, target audience, and current marketing efforts. This will allow us to understand your needs and tailor our services to best fit your requirements.",
  },
  {
    number: "04",
    title: "Monitoring and Optimization",
    description:
      "During the initial consultation, we will discuss your business goals and objectives, target audience, and current marketing efforts. This will allow us to understand your needs and tailor our services to best fit your requirements.",
  },
  {
    number: "05",
    title: "Reporting and Communication",
    description:
      "During the initial consultation, we will discuss your business goals and objectives, target audience, and current marketing efforts. This will allow us to understand your needs and tailor our services to best fit your requirements.",
  },
  {
    number: "06",
    title: "Continual Improvement",
    description:
      "During the initial consultation, we will discuss your business goals and objectives, target audience, and current marketing efforts. This will allow us to understand your needs and tailor our services to best fit your requirements.",
  },
];
---

<SectionContainer>
  <SectionTitle
    title="Our Working Process"
    description="Step-by-Step Guide to Achieving Your Business Goals"
  />
  <div class="flex flex-col gap-5">
    {
      processes.map((process) => (
        <article
          id="process-item"
          class="w-full aspect-[392/106] p-10 border rounded-3xl flex justify-center flex-col cursor-pointer shadow-[inset_0px_-3px_0px_0px_#191A23] md:aspect-[392/65] lg:aspect-[1200/112]"
        >
          <div class="w-full flex justify-between items-center">
            <div class="flex text-start items-center gap-5 font-semibold">
              <span class="text-3xl md:text-4xl">{process.number}</span>
              <h4 class="text-md max-w-[21ch] md:text-lg md:max-w-full">
                {process.title}
              </h4>
            </div>
            <PlusIcon id="open-icon" class="h-6 min-w-6 lg:h-8 " />
            <MinusIcon id="close-icon" class="hidden h-6 min-w-6 lg:h-8 " />
          </div>
          <div
            id="accordion-text"
            class="max-h-0 overflow-hidden transition-all duration-200 ease-out"
          >
            <hr class="w-full my-5 h-[1px] border-none bg-dark" />
            <p class="text-start">{process.description}</p>
          </div>
        </article>
      ))
    }
  </div>
</SectionContainer>

<style>
  .open {
    background-color: var(--primary-color);
  }
</style>

<script>
  const processItems = document.querySelectorAll("#process-item");

  processItems.forEach((processItem) => {
    const accordionText = processItem.querySelector(
      "#accordion-text"
    ) as HTMLElement;
    const openIcon = processItem.querySelector("#open-icon") as HTMLElement;
    const closeIcon = processItem.querySelector("#close-icon") as HTMLElement;

    processItem.addEventListener("click", () => {
      processItem.classList.toggle("open");

      if (processItem.classList.contains("open")) {
        accordionText.style.maxHeight = accordionText.scrollHeight + "px";
        openIcon.classList.add("hidden");
        closeIcon.classList.remove("hidden");
      } else {
        accordionText.style.maxHeight = "0";
        openIcon.classList.remove("hidden");
        closeIcon.classList.add("hidden");
      }
    });
  });
</script>
