---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import "@fontsource-variable/space-grotesk";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Our digital marketing agency helps businesses grow and succeed online through a range of services including SEO, PPC, social media marketing, and content creation."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body class="overflow-x-hidden">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  body {
    font-family: "Space Grotesk Variable", sans-serif;
  }

  #header-nav {
    animation: blurOnScroll linear both;
    animation-timeline: scroll();
    animation-range: 0 500px;
  }

  @keyframes blurOnScroll {
    to {
      box-shadow:
        0px 5px 50px -5px rgba(0, 0, 0, 0.1),
        0px 0px 0 1px rgba(0, 0, 0, 0.3);
      background: rgba(0, 0, 0, 0.4);
      backdrop-filter: blur(80px);
    }
  }
</style>
